<td colspan="3">
	<%= form_with model: Reply.new, url: users_user_order_inquiry_replies_path(@user, @order, @inquiry, index: @index) do |f| %>
		<div class="row">
			<div class="field font-size3 col-sm-12 col-xs-12" style="margin-bottom: 30px">
			  <%= f.label :body, "本文" %><br/>
			  <%= f.text_area :body, rows:10, style: "resize: none;", class: "col-sm-12 col-xs-12" %>
			</div>
		</div>
		<div class="actions col-sm-4 col-xs-4" style="margin-bottom: 20px">
			<%= f.submit "返信", class: "btn btn-info font-size3" %>
		</div>
	<% end %>
</td>

<script>
	$(function() {
    $(document).on('click', 'input[type=submit]', function() {
    	// バリデーション
      if ($('#reply_body').val() == '') {
      	alert('未入力の項目があります');
        return false;
      }
    })
  })
</script>