<div class="about-image">
	<div class="about-text">
		<h2 class="font-size5" style="padding: 100px 0 90px 0;"><strong>Re:clock</strong></h2>
		<p class="font-size4">また時を刻み始める</p>
	</div>
</div>
<div style="text-align: center; margin-top: 40px; margin-bottom: 100px;">
	<p class="font-size3">
		もう動かないと諦めていませんか？<br/>
		<br/>
		また時を刻む音を聞きたい<br/>
		正午を告げる瞬間を楽しみに過ごしたい<br/>
		<br/>
		私達がその願いを実現します。<br/>
		さあ思い出との再会を果たしましょう。
	</p>
</div>

<style type="text/css" media="screen">
	.about-image {
	width: 100%;
	height: 600px;
	background-image: url(/image2.jpg);
	background-size: cover;
	background-position: right;
	position: relative;
}

.about-text {
	color: #fff;
	z-index: 6;
	height: 100%;
	width: 40%;
	background-color: rgba(222, 184, 135, 0.5);
	position: absolute;
	left: 2%;
	text-align: center;
}
</style>

<style type="text/css" media="screen and (max-width: 991px)">
.about-text {
	width: 50%;
}
</style>