"<%= @review.user.name %> 様"からレビューが届いています
===============================================

レビュータイトル：<%= @review.title %>

本文:
<%= @review.body %>

サイト内でレビューを確認する際は、「ログイン後にレビュー一覧」よりご確認頂けます。
「レビュー一覧」は<a href="<%= @url %>">"こちら"</a>をクリックしてください。
<!-- テスト用 -->
<!-- 「ログイン」は<a href="http://localhost:3000/on_store_users/sign_in">"こちら"</a>をクリックしてください。 -->

<!-- デプロイ時はコメントアウトを外す -->
「ログイン」は<a href="http://reclock.work/on_store_users/sign_in">"こちら"</a>をクリックしてください。

Re:clock運営より自動送信
※このメールは送信専用です、返信はご遠慮下さい