"<%= @order.user.name %> 様"がお支払い方法を選択されました
===============================================

支払方法を確認するには、「ログイン後」に「管理台帳」から「注文詳細ページ」にてご確認頂けます。

「管理台帳」は<a href="<%= @order_index_url %>">"こちら"</a>をクリックしてください。
「注文詳細ページ」は<a href="<%= @order_show_url %>">"こちら"</a>をクリックしてください。
<!-- テスト用 -->
<!-- 「ログイン」は<a href="http://localhost:3000/on_store_users/sign_in">"こちら"</a>をクリックしてください。 -->

<!-- デプロイ時はコメントアウトを外す -->
「ログイン」は<a href="http://reclock.work/on_store_users/sign_in">"こちら"</a>をクリックしてください。

Re:clock運営より自動送信
※このメールは送信専用です、返信はご遠慮下さい