<h1 class="font-size3"><%= @email %>様、Re:clockへようこそ。</h1>

<!-- テスト用 -->
<!-- <p class="font-size2">
  本登録へ進むには、<a href="http://localhost:3000/on_store_users/sign_up">"こちら"</a>をクリックしてください。
</p> -->

<!-- 本番用 -->
<p class="font-size2">
  本登録へ進むには、<a href="http://reclock.work//on_store_users/sign_up">"こちら"</a>をクリックしてください。
</p>