"<%= @inquiry.on_store_user.shop_name %>"から新規問合せがあります。
===============================================

件名：<%= @inquiry.title %>

内容：
<%= @inquiry.body %>

サイト内でお問合せ確認する際は、「ログイン後にマイページ」よりご確認頂けます。
「マイページ」は<a href="<%= @url %>">"こちら"</a>をクリックしてください。
<!-- テスト用 -->
「ログイン」は<a href="http://localhost:3000/users/sign_in">"こちら"</a>をクリックしてください。
「トップページ」は<a href="http://localhost:3000">"こちら"</a>をクリックしてください。
<!-- デプロイ時はコメントアウトを外す -->
<!-- 「ログイン」は<a href="http://reclock.work/users/sign_in">"こちら"</a>をクリックしてください。
「トップページ」は<a href="http://reclock.work">"こちら"</a>をクリックしてください。 -->

Re:clock運営より自動送信
※このメールは送信専用です、返信はご遠慮下さい