"<%= @order.on_store_user.shop_name %>"から修理状況更新のお知らせ
===============================================

注文ID：<%= @order.id %>

修理状況が、

"<%= @order.repair_status %>"

に更新されました。

サイト内で注文詳細を確認する際は、「ログイン後にマイページ」よりご確認頂けます。
「マイページ」は<a href="<%= @url %>">"こちら"</a>をクリックしてください。
<!-- テスト用 -->
<!-- 「ログイン」は<a href="http://localhost:3000/users/sign_in">"こちら"</a>をクリックしてください。 -->

<!-- デプロイ時はコメントアウトを外す -->
「ログイン」は<a href="http://reclock.work/on_store_users/sign_in">"こちら"</a>をクリックしてください。

「トップページ」は<a href="http://localhost:3000">"こちら"</a>をクリックしてください。

Re:clock運営より自動送信
※このメールは送信専用です、返信はご遠慮下さい