<div class="container body-gray" style="padding-top: 150px; padding-bottom: 150px; min-height: 420px; width: 100%;">
  <div class="col-sm-6 col-xs-6 col-sm-offset-3 col-xs-offset-3 body-boder" style="padding: 50px;">
    <h2 class="font-size4" style="margin-bottom: 30px;">出店者仮登録</h2>
    <%= form_with model: @on_store_user, url: on_store_users_form_ok_path, local: true do |f| %>
      <div class="field form-group font-size2 col-sm-10 col-xs-10" style="margin-bottom: 30px">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, placeholder: 'メールアドレス:', class: "form-control", autocomplete: "email" %>
      </div>

      <div class="actions col-sm-9 col-xs-9" style="margin-bottom: 20px">
      	<%= f.submit "メールを送信", class: "btn btn-info font-size2" %>
      </div>
    <% end %>
  </div>
</div>

  <script>
  $(function() {
    $(document).on('click', 'input[type=submit]', function() {
      // バリデーション
      if ($('#on_store_user_email').val() == '') {
        alert('未入力の項目があります');
        return false;
      }
    })
  })
</script>