<div class="container">
  <div class="col-sm-3 col-xs-3"></div>

  <div class="col-sm-6 col-xs-6" style="margin-bottom: 50px;">
    <h2 class="font-size4" style="margin-bottom: 30px;">出店者仮登録</h2>
    <%= form_with model: @on_store_user, url: on_store_users_form_ok_path, local: true do |f| %>
      <div class="row">
        <div class="field font-size2 col-sm-10 col-xs-10" style="margin-bottom: 15px">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, placeholder: 'メールアドレス:', class: "col-sm-10 col-xs-10", autocomplete: "email" %>
        </div>
      </div>

      <div class="actions col-sm-9 col-xs-9" style="margin-bottom: 20px">
        	<%= f.submit "メールを送信", class: "btn btn-info font-size2" %>
        </div>
      </div>
    <% end %>
  </div>

  <script>
  $(function() {
    $(document).on('click', 'input[type=submit]', function() {
      // バリデーション
      if ($('#on_store_user_email').val() == '') {
        alert('未入力の項目があります');
        return false;
      }
    })
  })
</script>