<div class="container margin-top">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="alert-form">
     <h1><strong>退会に関して</strong></h1>
      <p class="alert alert-danger"><strong>*Re:clock会員退会前に、以下注意事項を必ずご確認ください。</strong></p>
      <h2><strong>退会時の注意点</strong></h2>
      <ul>
        <li>退会処理を実行すると、今までに投稿した記事などが<span>すべて削除されます。</span></li>
        <li>退会後はマイページが閲覧できなくなり、<span>過去の注文履歴などをご確認いただくことができなくなります。</span>ご注意ください。</li>
        <li>再度会員登録いただいても、前回入会時の注文履歴は<span>参照いただけません。</span></li>
      </ul>

      <div class="select-actions">
        <a href="#" title="" class="btn btn-danger">退会する</a>
        <%= link_to "戻る", on_store_users_on_store_user_home_path(current_on_store_user),class:"btn btn-info" %>
      </div>
    </div>
  </div>
</div>