<% if model.errors.any? %>
  <div class="alert alert-warning row">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class="font-size2"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>